apiVersion: apps/v1
kind: Deployment
metadata:
  name: okd-proxy-test-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy-nginx
  template:
    metadata:
      labels:
        app: proxy-nginx
    spec:
      containers:
      - name: nginx
        # 이 이미지는 OpenShift에서 "무조건" 돌아가도록 설계된 이미지입니다.
        image: bitnami/nginx:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-nginx-svc
spec:
  selector:
    app: proxy-nginx
  ports:
  - port: 80
    targetPort: 8080
